*{box-sizing: border-box;
}

body{
  background-image:url("/assets/images/catering.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
    background-attachment: fixed;
    color: rgb(245, 255, 250);
    font-weight: 400;
    line-height: 1.4;
    margin:0;
  }
  
div{
  display:block;
}


.survey{
color:black;
font-size: 1.3rem;
  }

  .text{
    font-size: 1.3rem;
  }

  .group{
  padding: 5px;
  margin: 0 auto 5px auto;
  }

  .about .time .menu .comments{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  h1,p {
    text-align:center;
    color:black;
  }
  
  form, h1, .survey{
    background-color:rgba(27, 27, 50, 0.8);
    color: whitesmoke;
    width: 140vw;
    max-width: 700px;
    min-width: 350px;
    margin: 0 auto;
    padding: 30px;
    }

    #eventDate{
      padding-bottom: 20px;
    }
  
    input, select {
    width:100%;
   
  }


  .area{
    width:100%;
  }

  label{
    display: inline;
  }

#submit{
background-color: #37af65;
padding: 15px;
color: whitesmoke;
font-weight: bold;
}