*{box-sizing: border-box;
}

body{
  background-image:url("/assets/images/catering.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

form, h1, .survey{
  background-color:rgba(27, 27, 50, 0.8);
  color: whitesmoke;
  width: 140vw;
  max-width: 700px;
  min-width: 350px;
  margin: 0 auto;
  padding: 30px;
  }

  label {
  
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
    vertical-align:top;
  }

.survey{
color:whitesmoke;
font-size: 1.3rem;
  }

  .text{
    font-size: 1.3rem;
  }

  .group{
  padding: 5px;
  margin: 0 auto 5px auto;
  }

  .about .time .menu .comments{
    padding-top: 20px;
    padding-bottom: 20px;
  }



  #description{
    text-align: center;
  }
  
  #title{
    text-align: center;
  }
  
  
    .content{
      width: 100%;
    }
    
    input, select {
    width:100%;
    margin: 0;
    font-size: inherit;
    line-height: inherit;
    padding: 8px;
    display: inline-flex;
  }
  

  .area{
    width:100%;
  }



#submit{
background-color: #37af65;
padding: 15px;
color: whitesmoke;
font-weight: bold;
}